@media screen and (max-width: 550px) {
    #navigationDrawer {
      width: 250px;
      height: 100%;
      position: fixed;
      left: 0;
      top: 90px;
      transform: translate(-500px, 0);
    }
  
    #navigationDrawer li {
      display: block;
    }
  
    #navigationDrawer a {
      display: block;
      color: black;
    }
  
    #navigationDrawer.open {
      transform: translate(0, 0);
    }
  
    #navigationDrawer ul{
      display: block;
    }
  
    #hamburgerButton {
      display: block;
    }
  }
  
  @media screen and (min-width: 650px) {
    .restaurants {
      grid-template-columns: repeat(2, 1fr);
    }
    .restaurant {
      grid-template-columns: auto 1fr;
    }
   
    .restaurant .restaurant__title {
      grid-column-start: 1;
      grid-column-end: 3;
    }
   
    .restaurant .restaurant__overview {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  
  }
  
  @media screen and (min-width: 900px) {
    .restaurants {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media screen and (min-width: 1200px) {
    .restaurants {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  @media screen and (min-width: 1600px) {
    .restaurants {
      grid-template-columns: repeat(5, 1fr);
    }
  }